.main-footer {
    background-color: #0B1215;
    color: var(--cr);
    padding: 10px;
    border-top: 1px solid var(--cr4);
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    margin-bottom: 40px;
    font-family: var(--font-main);
}

.footer-brand p {
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: 2px;
}

.main-footer h4 {
    color: var(--cr4);
    margin-bottom: 20px;
    font-size: 18px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links a {
    color: var(--cr1);
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: var(--cr4);
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid var(--cr4);
    padding-top: 20px;
    font-size: 14px;
    color: var(--cr1);
}

.footer-social img {
    width: 18px;
    height: 18px;
    margin:5px;
    vertical-align: middle;
}

.footer-social a {
    color: var(--cr1);
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.footer-contact p {
    margin: 5px 0;
    font-size: 14px;
}